.larger {
    font-size: 1.2em;
    font-family: "Adobe Caslon Pro";
}

.title {
    cursor: default;
    display:inline-block;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);
}

.title:hover {
    cursor: default;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.btn-primary {
    background-color: #950000;
    border-color: #950000;
    color: #FEFEFE;
}

.btn-secondary {
    border-color: #790000;
    color: #790000;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #790000;
    border-color: #790000;
    box-shadow: 0 0 5px #790000;
}

.btn-secondary:focus,
.btn-secondary:hover {
    border-color: #790000;
    color: #790000;
    box-shadow: 0 0 5px #790000;
}