.estimationTable {
    margin: 80px 0 0 0;
}

.table {
    border: 1px solid #790000 !important;
}

.table th {
    background-color: #790000;
    color: #FEFEFE;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #D9B2B2;
}

.nav-tabs .nav-link.active {
    color: #BC9000;
}

.nav-tabs .nav-link {
    color: #790000;
}

.subServices {
    display: none;
}

.allServices:hover {
    cursor: pointer;
    color: #BC9000;
}

/* Services Breadcrumb */
.breadcrumb {
    background-color: transparent;
}

.breadcrumb-item a{
    color: #790000;
    cursor: pointer;
}

.breadcrumb .active{
    color: #BC9000;
}